*{ margin:0; padding:0; 
}

.header{
  position: relative;
  margin: 0 auto;}

.foto1{
  position: relative;
  width: 1349px;
  height:349px;
  margin: 0 auto;}

.ft{
  color:white;
  position: absolute;
  top: 19%;
  width: 100%;
  text-align: center;}

.st{
  color:white;
  position: absolute;
  top: 22%;
  width: 100%;
  text-align: center;
  display: flexbox;
}
.button1{
  position: absolute;
  top: 35%;
  left: 43%;
  background-color:whitesmoke;
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.button2{
  position: absolute;
  top: 35%;
  left: 50%;
  background-color:whitesmoke;
  font-size: 10px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.head{
  text-align: center;
  height: 50px;
  padding-top: 30px;
}
.box img{
  width: 60px;
  height: 60px;
  margin-left: 90px;
}
.box{
  width: 250px;
  height: 200px;
}
.topics{
position: relative;
margin-left: 240px;
height: 300px;
width: 100%;
}
.topics .box{

  float: left;
  position: static;
  margin: 20px;
}
.box h4{
  margin-top: 10px;
  text-align: center;
}
.side p{
  text-align: center;
}
.foto2{
  position: relative;
  width: 1349px;
  height:200px;
  margin: 0 auto;
}
.at{
  color: white;
  position: absolute;
  top: 121%;
  width: 100%;
  text-align: center;
padding: 30px 50px 20px 50px;
}
.far{width: 150px;height: 50px;
  padding: 50px 48px 10px 300px ;
  margin: 0 auto;
  position: relative; 
}
.icons img{
  width: 60px;
  height: 60px;
  margin: 30px 98px 30px 60px;
}
.icons{
  width: 150px;
  height: 200px;
}
.ikona{
position: relative;
margin-left: 240px;
height: 300px;
width: 100%;
}
.ikona .icons{

  float: left;
  position: static;
  margin: 20px;
}
.icons h4{
  margin-top: 10px;
  text-align: center;
}
.icons p{
  text-align: center;
}
}.header3{
  width: 1350px ;
  height: 252px;
  background-color:rgb(218, 214, 214);s
}
.foto3{
  position: relative;
  width: 300px;
  height:200px;
  margin: 30px 200px 20px 300px;
}
.buton3{
  position: absolute;
  top: 225%;
  left: 62%;
  background-color:rgb(185, 137, 34);
  font-size: 10px;
  padding: 7px 17px;
  border: none;
  cursor: pointer;
  border-radius: 15px;
}
.text{
  position: relative;
  width: 1349px;
  height: 600px;
  text-align: center;
  padding: 70px 40px;
}
.text1{
  margin: 50px 550px 30px 30px;
}
.profil img{
  width: 100px;
  height: 100px;
  margin: 30px 98px 30px 60px;
}
.profil{
  width: 150px;
  height: 200px;
}
.text{
position: relative;
margin-left: 240px;
height: 300px;
width: 100%;
}
.text .profil{
  float: left;
  position: static;
  margin: 20px;
}
.profil h4{
  margin-top: 30px;
  text-align: center;
}
.profil p{
  text-align: center;
}
.foto4{
  position: relative;
  width: 1349px;
  height:150px;
  margin: 0 auto;
}
